[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"
black = "*"
isort = "*"
pytest = "*"
interrogate = "*"

[requires]
python_version = "3.11"
