[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"
black = "*"
isort = "*"
pytest = "*"
interrogate = "*"
mkdocs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
versioneer = "*"
coverage = "*"

[requires]
python_version = "3.11"

[requests]
requests = "*"

[pandas]
pandas = "*"
pyarrow = "*"
openpyxl = "*"

[polars]
polars = "*"
xlsxwriter = "*"
xlsx2csv = "*"
